html, body {
    background-color: #1B1B1B;
    color: #CECECE;
    font-family: Arial, Verdana, sans-serif;
}
.rounded {
    border-radius: 5%;
}
.centered {
    display: inline-block;
    margin: auto;
}
.hardcentered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
div #menubar {
    background-color: #292929;
    color: #BEBEBE;
}

div #loginframe {
    background-color: #2F2F2F;
    border-radius: 8px;
    padding: 20px;
}
label {
    
}
input {
    
}
div.row {
    
}
form .login {
    text-align: center;
}
h1 .login {

}
label .login {
    display: inline-block;    
    text-align: right;
    font-size: 120%;
    font-weight: bold;
    
}
input[type=password],input[type=text] {
    background-color: #4B4B4B;
    color: #CECECE;
    border: none;
    font-size: 120%;
    text-align: left;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #3B3B3B;

}
input[type=button] {
    background-color:#808080;
    color: #000000;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 16px 32px;
    margin: 4px 2px;
}


