html, body {
    background-color: #1B1B1B;
    color: #CECECE;
    font-family: Arial, Verdana, sans-serif;
}
tbody {
  display:block;
  height:95%;
  overflow-y:scroll;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
  width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
  border-collapse: collapse;
  width:100%;
}
td, th {
  border-left: 1px solid #4F4F4F;
}
tr:hover {
  outline: #333 solid 4px;;
}
.rounded {
    border-radius: 5%;
}
.centered {
    display: inline-block;
    margin: auto;
}
.hardcentered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Quick Button Panel*/
aside {
    width:30%;
}
div.qbtns {
    width:100%;
    height: 65%;
    padding-left: 3%;
}
div.ubtns {
    width:100%;
    height:17%;
    padding-left: 3%;
}
div.pbtns {
    width:100%;
    height:15%;
}
.qbtn-group button {
    background-color:#77bd43;
    color:#fff;
    border-style: none;
    padding: 2%;
    width: 31%;
    height: 100px;
}

.qbtn-group button:hover{
    background-color:#141414;
}
.ubtn-group button {
    background-color:#77bd43;
    color:#fff;
    border-style: none;
    padding: 2%;
    width: 31%;
    height: 100px;
}

.ubtn-group button:hover{
    background-color:#141414;
}
.pbtn-group button {
    background-color:#77bd43;
    color:#fff;
    border-style: none;
    padding: 2%;
    width: 31%;
    height: 75px;
}

.pbtn-group button:hover{
    background-color:#141414;
}

/*Sale Overview */
div.flex-row {
    display: flex;
}
div.customer-column {
    flex: 50%;
}
#Customer-Info {
    padding-left: 1%;
    flex-shrink: 1;
    justify-content: flex-start;
    align-content: flex-start;
}

/*Payment Button Overlay*/
.fulloverlay {
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Position the content inside the overlay */

.fulloverlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-right: -50%;
  left: 50%;
}

/* The navigation links inside the overlay */

.fulloverlay input {

  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  background-color: #1b1b1b;
  transition: 0.3s;

}
.fulloverlay label {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
}

.fulloverlay input[type=number] {
    width: 5em;
}

/* Position the close button (top right corner) */
.fulloverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #818181;
}

.fulloverlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}





.tableEntryA {
  background: #353535;
}
.tableEntryB {
  background: #292929;
}
.tableColumn1 {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

  text-align: center;
}
.tableColumn2 {
  position: relative;
  width: 60%;
  height: 30px;
  left: 0px;
  top: 0px;

  text-align: left;
}
.tableColumn3 {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

  padding-right: 5px;
  text-align: right;
}
.tableColumn4 {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

  text-align: center;
}
.tableColumn5 {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

  padding-right: 5px;
  text-align: right;
}
.qty_input {
  font-size:18px;
  border: none;
  border-color: transparent;
  color: white;
  text-align: center;
  background: transparent;
  width: 100%;
  box-sizing: border-box; width: 100%;
}
.selectedRow {
  background-color: grey;
}
.tableButton {
  position: relative;
  height: 65%;

  background-color:rgb(102, 102, 102);
  color: #000000;
  font-weight: bold;
  border: none;
  text-decoration: none;
}
div #Quick-Buttons {
  position: absolute;
  width: 550px;
  height: 909px;
  left: 1271px;
  top: 59px;

  background: #2F2F2F;
}
section {
  position: absolute;
  width: 1265px;
  height: 909px;
  left: 0px;
  top: 59px;

  background: #2F2F2F;
}
div #Transaction-Info-Panel {
  position: relative;
  width: 100%;
  height: 46px;
  left: 0px;
  top: 0px;

  background: #3F3F3F;
}
div #Inner-Transaction-Panel {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-left: 5px;
}
div #Item-Search-Field {
  position: relative;
  width: 30%;
  height: 50%;

  color: grey;
  background: #2B2B2B;
}
div #Item-List-Panel {
  position: absolute;
  width: 1265px;
  height: 691px;
  left: 0px;
  top: 45px;

  background: #202020;
}
div #table-wrapper {
  position: relative;
}
#table-wrapper table {
  width:100%;
}
div #Column-Headers {
  position: relative;
  width: calc(100%-1em);
  height: 30px;
  left: 0px;
  top: 0px;

  background: #202020;
  mix-blend-mode: normal;
}
div #SKU-Column {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

background: #202020;
}
div #Description-Column {
  position: relative;
  width: 60%;
  height: 30px;
  left: 0px;
  top: 0px;

  background: #202020;
}
div #Unit-Price-Column {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

  background: #202020;
}
div #Quantity-Column {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

  background: #202020;
}
div #Total-Column {
  position: relative;
  width: 10%;
  height: 30px;
  left: 0px;
  top: 0px;

  background: #202020;
}
div #Sale-Overview {
  position: absolute;
  width: 1260px;
  height: 163px;
  left: 0px;
  top: 736px;
  padding: 5px;

  background: #3F3F3F;
}
div #Customer-Info {
  position: absolute;
  width: 550px;
  height: 171px;
  left: 0px;
  top: 0px;

  background: #3F3F3F;
}
div #Totals {
  position: absolute;
  width: 271px;
  height: 171px;
  left: 994px;
  top: 0px;

  background: #3F3F3F;
}
div #Button-Array {
  position: absolute;
  width: 531px;
  height: 430px;
  left: 10px;
  top: 13px;
}
div #Row-1 {
  position: absolute;
  width: 531px;
  height: 100px;
  left: 10px;
  top: 13px;
}
div #Row-2 {
  position: absolute;
  width: 531px;
  height: 100px;
  left: 10px;
  top: 123px;
}
div #Row-3 {
  position: absolute;
  width: 531px;
  height: 100px;
  left: 10px;
  top: 233px;
}
div #Row-4 {
  position: absolute;
  width: 531px;
  height: 100px;
  left: 10px;
  top: 343px;
}
div #Utility-Buttons {
  position: absolute;
  width: 550px;
  right: 0px;
  top: 454px;
  bottom: 171px;

  background: #2F2F2F;
}
div #Payment-Buttons {
  position: absolute;
  width: 531px;
  height: 100px;
  left: 10px;
  top: 343px;
}
label {

}
input {

}
div.row {

}
form .login {
    text-align: center;
}
h1 .login {

}
label .login {
    display: inline-block;
    text-align: right;
    font-size: 120%;
    font-weight: bold;

}

.navButton{
  background-color:#808080;
  color: #000000;
  font-weight: bold;
  border: none;
  text-decoration: none;
  width: 150px;
  height: 30px;
  margin: 4px 2px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #3B3B3B;

}
input[type=button] {
    background-color:#808080;
    color: #000000;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 16px 32px;
    margin: 4px 2px;
}

#subtotal{
  float: right;
}
#discounts{
  float: right;
}
#tax{
  float: right;
}
#total{
  float: right;
}
